html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

form{
    margin-top: 10px;
    margin-left: 120px;
}

img {
    display: block;
    max-width: 100%;
}
.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}